[Service]
User=%I
SyslogIdentifier=jackd1-%I
LimitRTPRIO=95
LimitMEMLOCK=999999999
ExecStart=/usr/bin/env jackd --nozombies --realtime -d dummy -r 8000 -p 4096

Restart=always
RestartSec=1
StartLimitInterval=10s
StartLimitBurst=5

[Install]
WantedBy=mutli-user.target
