[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WatchdogSec=30
Restart=always
RestartSec=30
StartLimitInterval=10min
StartLimitBurst=10

User=paging
ExecStart=/opt/bin/paging.py --systemd

[Install]
WantedBy=multi-user.target
