[Unit]
After=jack@paging.service
Requires=jack@paging.service

[Service]
User=paging
Group=audio
SyslogIdentifier=jackd1-paging-out-all
Environment=JACK_NO_START_SERVER=t
LimitRTPRIO=95
LimitMEMLOCK=999999999
ExecStart=/bin/bash -c "\
	for c in $(aplay -L | grep '^\(default\|sysdefault\):CARD=' | sort -u);\
	do alsa_out -d $c -r 8000 -p 2048 -n 4 & done; wait -n ; kill 0 ; exit 1"

Restart=always
RestartSec=300ms
StartLimitInterval=120s
StartLimitBurst=50

[Install]
WantedBy=mutli-user.target
