[Unit]
After=network.target network-online.target jack@paging.service
Wants=network-online.target
Requires=jack@paging.service

[Service]
Type=notify
WatchdogSec=30

Restart=always
RestartSec=30
StartLimitInterval=10min
StartLimitBurst=10
# StartLimitAction=reboot

User=paging
LimitRTPRIO=95
LimitMEMLOCK=999999999
ExecStart=/usr/bin/paging --systemd

[Install]
WantedBy=multi-user.target
