[Unit]
Requires=pulse.service
After=network.target network-online.target sound.target pulse.service
Wants=network-online.target

[Service]
Type=notify
WatchdogSec=30

Restart=always
RestartSec=30
StartLimitInterval=10min
StartLimitBurst=10
# StartLimitAction=reboot

User=paging
LimitRTPRIO=50
LimitRTTIME=infinity
ExecStart=/usr/bin/paging --systemd

[Install]
WantedBy=multi-user.target
